:root {
  --gold: #c3a26f;
}

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: white;
  background-color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.site {
  position: relative;
  overflow: hidden;
}

.wrapper {
  height: 88vh;
  color: var(--gold);
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: row;
  justify-content: space-evenly;

  @media (max-width: 1200px) {
    width: 95%;
    margin: 0 auto;
  }
}

.wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  z-index: -1;
}

button {
  width: 250px;
  height: 50px;
  font-size: 20px;
  border: 3px solid var(--gold);
  background: none;
  border-radius: 10px;
}

a {
  color: var(--gold);
  text-decoration: none;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}


.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}
